{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="form-signin" method="post">
        <label for="email">Email :</label>
        <input type="text" id="email" name="email" class="form-control" />

        <label for="inputPassword">Mot de passe :</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-success" type="submit">Se connecter</button>
    </form>
    <div class="alert alert-light" role="alert">
       Pour accéder à l'application, connectez-vous ou <a href="{{ path('user_create') }}">créez un compte<a>
    </div>
{% endblock %}
